$laptop-size:1440px;
$tablet-size:810px;
$mobile-size:475px;

$primary-color:#F0A83E;
$secondary-color:#3C2313;
$third-color:#f1eeee;
$forth-color:#FBFAF6;
$fifth-color:#222222;

$font-prymary-color:#fff;
$font-secondary-color:#3C2313;
$font-third-color:#666666;

