/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    display: block;
    margin: 0 auto;
    padding: 0 auto;
}

/* General */
body{
    font-family: 'Roboto', sans-serif;
}

button{
    background-color:#00669F ;
    color: white;
    padding: 10px 35px;
    border-style: none;
}

a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

/* header */

header{
    
    width: 100%;
}

header p{
    background-color: #D1891C;
    padding: 2.5px 20px;
}

header h1{
    background: #00669F;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 12px 20px;
}

/* main */

main{
    
    width: 100%;
}

section{
    padding: 3%;
    
}

img{
    width: 40%;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    position: absolute;
    margin-top: 120px;
    margin-left: 102.6px;
}

.card{
    border-radius: 5%;
    height: 550px;
    width: 352px;
    background-color: #d3cfcfc2;
    margin-top: 8px;
    position: relative;
}

.card-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
}

h2{
    padding-top: 20%;
}

p{
    padding-left: 5%;
    padding-right: 5%;
}

.card-top-wonder{
    background-image: url(../img/atlantida.jpg);    
}

.card-top-superman{
    background-image: url(../img/metropolis.jpg);    
}

.card-top-batman{
    background-image: url(../img/gotham.jpg);    
}

.card-top-harley{
    background-image: url(../img/explosion.webp);   
}

.card-top{
    background-size: cover;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    height: 200px;
}

/* footer */

footer{
    
    width: 100%;
    background-color:#00669F ;
    color: white;
    display: flex;
    flex-direction: column;
}

footer p{
    padding-top: 18px;
    padding-bottom: 6px;
}

footer a{
    font-size: 2rem;
    font-weight: 700;
}

/* Media Query */

@media screen and (min-width: 481px) {
    
    section{
        display: flex;
        flex-wrap: wrap;
    }

}